extends ../../layouts/default.pug

block main 
  h1(class="mb-4") Thêm mới sản phẩm
  form(action=`${prefixAdmin}/songs/edit/${song._id}?_method=PATCH` method="POST" enctype="multipart/form-data")


    div(class="form-group")
      label(for="title") Tiêu đề:
      input(type="text" value=song.title id="title" name="title" class="form-control" required)

    div(class="form-group")
      label(for="topic") Chủ đề
      select(name="topicId" id="topic" class="form-control" value required)
        option(value="" disabled selected) -- chọn danh mục --
        each item in topics
          option(value=item.id selected = item.id == song.topicId ? true : false) #{item.title}

    div(class="form-group")
      label(for="singer") Ca sĩ
      select(name="singerId" id="singer" class="form-control" required)
        option(value="" disabled selected) -- Chọn ca sĩ --
        each item in singers
          option(value=item.id selected = item.id == song.singerId ? true : false) #{item.fullName}

    div(class="form-group" upload-image)
      label(for="avatar") Ảnh:
      input(type="file" id="avatar" name="avatar" class="form-control-file" upload-image-input accept="image/*")
      img(src=song.avatar alt=song.title class="image-preview" upload-image-preview)

    div(class="form-group" upload-audio)
      label(for="audio") file âm thanh:
      input(type="file" id="audio" name="audio" class="form-control-file" upload-audio-input accept="audio/*")
      audio(controls upload-audio-play)
        source(src=song.audio upload-audio-preview) 

    div(class="form-group")
      label(for="lyrics") Lời bài hát:
      textarea(id="lyrics" name="lyrics" class="form-control" rows = "20" ) #{song.lyrics}

    div(class="form-group")
      label(for="desc") Mô tả:
      textarea(id="desc" type="text" name="description" class="form-control" rows = "5" textarea-mce) #{song.description}

    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="statusActive"
        name="status"
        value="active"
        checked = song.status == "active" ? true : false

      )
      label(for="statusActive" class="form-check-label") Hoạt động

    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="statusInActive"
        name="status"
        value="inactive"
        checked = song.status == "inactive" ? true : false
      )
      label(for="statusInActive" class="form-check-label") Dừng hoạt động
   
    div(class="form-group")
      button(type="submit" class="btn btn-primary") Submit

