.sider 
  .inner-menu
    ul
      li 
        a(href=`${prefixAdmin}/dashboard`) Tổng quan 
      li 
        a(href=`${prefixAdmin}/topics`) Quản lí chủ đề
      li 
        a(href=`${prefixAdmin}/songs`) Quản lí bài hát
      li 
        a(href=`${prefixAdmin}/singers`) Quản lí ca sĩ
      li 
        a(href=`${prefixAdmin}/roles/permissions`) Phân quyền
      li 
        a(href=`${prefixAdmin}/accounts`) Tài khoản admin
      li 
        a(href=`${prefixAdmin}/users`) Tài khoản users
      li 
        a(href=`${prefixAdmin}/settings/general`) Cài đặt chung 